@import 'tailwindcss/theme.css' layer(theme);
@import '../../../../new-theme.css';
@import 'tailwindcss/utilities.css' layer(utilities) source(none);

@source inline('bg-sidebar bg-background bg-card text-foreground text-muted-foreground bg-border border-border hover:bg-card hover:text-foreground');

.sidebar-new-theme {
  --neutral3: var(--muted-foreground);
  --neutral5: var(--foreground);
  --neutral6: var(--foreground);
  --sidebar-nav-active: var(--selected);
  --sidebar-nav-hover: var(--sidebar-accent);
}
