```yaml
openapi: 3.0.0
info:
  title: Browserbase API
  description: API documentation for Browserbase
  version: 1.0.0
servers:
  - url: https://www.browserbase.com
  - url: https://connect.browserbase.com
paths:
  /v1/sessions/{sessionId}:
    get:
      summary: Retrieve information from a Session
      description: Use this endpoint to get information from a specific Session.
      parameters:
        - name: sessionId
          in: path
          description: ID of the Session to retrieve information from
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '404':
          description: Session not found
      security:
        - apiKeyAuth: []
  /reference/api/connect:
    get:
      summary: Connect to a Session
      description: Use WebSocket or HTTP to connect or create a Session on-the-fly.
      responses:
        '200':
          description: Successful connection
        '401':
          description: Unauthorized
  /reference/api/list-all-sessions:
    get:
      summary: Retrieve all Sessions information
      description: Get full control of the Browser’s Sessions.
      responses:
        '200':
          description: Successful retrieval
        '401':
          description: Unauthorized
  /reference/api/upload-an-extension:
    post:
      summary: Configure custom Chrome extensions for Sessions
      description: Upload and configure custom Chrome extensions for your Sessions.
      responses:
        '200':
          description: Extension uploaded successfully
        '401':
          description: Unauthorized
  /webdriver:
    post:
      summary: Create a Session
      description: Create a new session using Selenium
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
      responses:
        '200':
          description: Session created successfully
  /connect:
    get:
      summary: Connect to a Session
      description: Connect or create a session on-the-fly
      responses:
        '200':
          description: Connected successfully
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-bb-api-key
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
    CustomHttpAgent:
      type: object
    CustomHttpAgentResponse:
      type: object
    CustomHttpAgentRequest:
      type: object
    CustomHttpAgentOptions:
      type: object
security:
  - apiKeyQuery: []
```