```yaml
openapi: 3.0.0
info:
  title: Browserbase API
  description: API documentation for Browserbase
  version: 1.0.0
servers:
  - url: https://www.browserbase.com
  - url: https://connect.browserbase.com
paths:
  /v1/sessions/{sessionId}:
    get:
      summary: Retrieve information from a Session
      description: Use this endpoint to get information from a specific Session.
      parameters:
        - name: sessionId
          in: path
          description: ID of the Session to retrieve information from
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
  /webdriver:
    post:
      summary: Create a Session
      description: Create a new session using Selenium
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
      responses:
        '200':
          description: Session created successfully
  /connect:
    get:
      summary: Connect to a Session
      description: Connect to an existing session
      parameters:
        - name: sessionId
          in: query
          description: ID of an already created session
          required: false
          schema:
            type: string
        - name: enableProxy
          in: query
          description: Enable proxy
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Connected successfully
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-bb-api-key
  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
    CustomHttpAgent:
      type: object
      properties:
        session-id:
          type: string
        enable-proxy:
          type: string
```