.new-theme {
  --background: var(--background-2);
  --sidebar: var(--background-1);
  --card: var(--background-3);
  --popover: var(--background-3);
  --muted: var(--gray-1);
  --foreground: var(--gray-10);
  --muted-foreground: var(--gray-9);
  --placeholder: var(--gray-7);
  --border: var(--gray-alpha-2);
  --ring: var(--gray-8);
  --sidebar-accent: var(--gray-alpha-1);
  --selected: var(--gray-alpha-2);

  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(0 0 0);
}

html.light .new-theme {
  --border: var(--gray-alpha-3);
  --destructive: oklch(0.47 0.19 27.325);
  --destructive-foreground: oklch(1 0 0);
}
